<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body id="app">
<div :style="{'background':color}">
    <form action="">
        <h2 style="text-align: center">Fill in the form</h2>
        <div class="wrapper" >

        <div class="area1" >
            <input type="text" name="name" placeholder="Name" required><br>
        </div>
        <div class="area2">
            <input type="text" name="surname" placeholder="Surname" required><br>
        </div>
        <div class="area3">
            <input type="radio" id="male" value="lightskyblue" v-model="color"><label for="male">Male</label>
            <input type="radio" id="female" value="pink" v-model="color"><label for="female">Female</label><br>
        </div>
        <div class="area4">
            <input id="phone" type="text" name="phone" placeholder="Phone" required><br>
        </div>
        <div class="area5">
            <input  id="user" type="text" name="user" placeholder="Username" required><br>
        </div>
        <div class="area6">
            <button type="submit">Send</button>
        </div>
    </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@next"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>