<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body id="app">
<div :style="{'background':color}">
    <form action="" @submit.prevent="checkForm">
        <h2 style="text-align: center">Fill in the form</h2>
        <div class="wrapper" >

        <div class="area_name" >
            <input type="text" name="name" placeholder="Name" required>
        </div>
        <div class="area_surname">
            <input type="text" name="surname" placeholder="Surname" required>
        </div>
        <div class="area_state">
            <input type="radio" id="male" value="lightskyblue" name="state" v-model="color"><label for="male">Male</label>
            <input type="radio" id="female" value="pink" name="state" v-model="color"><label for="female">Female</label>
            <span id="error_state"></span>
        </div>
        <div class="area_phone">
            <div size="4">
            <select id="country">
                <option v-for="code in country_codes">
                    {{code.text}}
                </option>
            </select>
            </div>
            <div>
            <input
                    id="phone"
                    type="text"
                    name="phone"
                    placeholder="Phone"
                    v-model.trim="phone"
                    required>
                <span id="error_phone"></span>
        </div>
        </div>
        <div class="area_username">
            <input  id="user" type="text" name="user" placeholder="Username" v-model.trim="username" required>
            <span id="error_user"></span>
        </div>
        <div class="area_button">
            <button type="submit">Send</button>
        </div>
    </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@next"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>