.wrapper{
    display: grid;
    grid-template-rows: repeat(6,1fr);
    gap: 20px;
    justify-content: center;
    grid-template-areas:
            "name surname"
            "state state"
            "phone phone"
            "username username"
            "but .";
}
h2{
    font-family: "Helvetica Neue";
}

.area_phone{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-area: phone;
}



#country{
    min-height: 35px;
    max-height: 35px;
    width: 90%;
}

input[type=text]{
    padding: 10px;
    border: 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.2);
    width: 200px;

}

label{
    margin-left: 10px;
    font-family: "Helvetica Neue";
}

#female{
    margin-top: 15px;
    margin-left: 200px;
}

.area_name{
    margin-top: 10px;
    grid-area: name;
}

.area_surname{
    margin-top: 10px;
    grid-area: surname;
}

.area_state{
    grid-area: state;

}

.area_username{
    grid-area: username;
}

.area_button{
    grid-area: but;
}

#phone, #user{
    width: 96%;
}

button{
    align-content: center;
    padding: 10px;
    width: 100px;
    border: 0;
    border-radius: 10px;
}

span{
    color:darkred;
}